.reveal section img {
  box-shadow: none;
  background: none;
  border: none
}

.footer {
  position: absolute;
  display: table;
  width: 100%;
  bottom: 0;
  height: 20px;
  padding: .7vmin 2vmin;
}
   
.footer span {
  display: table-cell;
  text-align: center;
  font-family: "Roboto", monospace,"Source Sans Pro",;
  font-size: calc(9px + .1vw + 2vmin);
}
   
.footer span:nth-of-type(1) {
  text-align: left;
}
.footer span:nth-of-type(2) {
  text-align: center;
}
.footer span:nth-of-type(4) {
  text-align: center;
}
.footer span:nth-of-type(5) {
  text-align: center;
}
