.reveal section img {
  box-shadow: none;
  background: none;
  border: none
}

.footer {
  position: absolute;
  display: table;
  width: 100%;
  bottom: 0;
  color: $color-primary-2;
}
   
.footer span {
  display: table-cell;
  padding: 0px 15px 5px;
   
  text-align: center;
  font-family: "Roboto Mono", monospace;
  font-size: 70%;
}
   
.footer span:nth-of-type(1) {
  text-align: left;
}
.footer span:nth-last-child(1) {
  text-align: right;
}